exportPattern("^[[:alpha:]]+")
export("GenrateExcelforMSdata",
       "CalculateModificationIntensity",
       "MergeModificationIntensity",
       "NormalizationIntensitySections",
       "NormalizationIntensitySlides",
       "NormalizationIntensityPercentage",
       "MergeTechnicalReplicates",
       "volcano_plotting",
       "T_Anavo_plotting",
       "RunMetaboAnalystR",
       "PickBrainRegion"
       "BoxModification")
